html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #3E2C23;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 10%;
  background: #EAD7C3;
  position: fixed;
  width: 100%;
  top: 0;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #3E2C23;
}

.section {
  height: 100vh;
  padding: 100px 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Different Colors */
.home { background: #F5E6D3; }
.education { background: #DDE6ED; }
.projects { background: #EAD7C3; }
.skills { background: #F0DBD0; }
.contact { background: #E8D5C4; }

button {
  padding: 10px 20px;
  background: #6F4E37;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.1);
}

.social-icons a {
  font-size: 24px;
  margin: 10px;
  color: #6F4E37;
  transition: 0.3s;
}

.social-icons a:hover {
  color: black;
  transform: translateY(-5px);
}